# Postgres
PG_USER=rbac_user
PG_PASSWORD=
PG_DB=rbac_database
PG_DRIVER=postgresql+asyncpg
PG_HOST=postgres
PG_PORT=5432

# KeyDB
KDB_PASSWORD=
KDB_HOST=keydb
KDB_PORT=6379
KDB_DB=0

# RBAC
FASTAPI_TITLE=RBAC
DEBUG=0
LOGURU_LEVEL=INFO
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=10080
